<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>[[#{app.report.name}]]</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"></link>
    <link href="css/bootstrap-datetimepicker.css"  rel="stylesheet"></link>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/js/jquery-1.11.1.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-paginator.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <style type="text/css">
        .pagination {
            margin: 0px
        }

        .pagination > li > a, .pagination > li > span {
            margin: 0 5px;
            border: 1px solid #dddddd;
        }

        .glyphicon {
            margin-right: 3px;
        }

        .form-control[readonly] {
            cursor: pointer;
            background-color: white;
        }
        #dlgPhoto .modal-body{
            text-align: center;
        }
        .preview{
            max-width: 500px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container" style="text-align: center">
        <h1>《Spring Boot 实战》系列课实战案例</h1>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div>
            <ol class="breadcrumb" style="background-color:transparent;font-size: 20px">
                <li><a th:href="#{app.website}">首页</a></li>
                <li class="active">实战案例</li>
                <li class="active">thymeleaf模板引擎实战</li>
            </ol>
        </div>
        <h2 style="text-align: center" th:text="#{app.report.name}"></h2>
        <div class="panel panel-default">
            <div class="clearfix panel-heading">
                <div class="input-group" style="width: 500px;">
                    <input id="txtKeyword" type="text" class="form-control" placeholder="请输入要查询的员工" th:value="${param.keyword}">
                    <div class="input-group-btn">
                        <div>
                            <button class="btn btn-primary" id="btnQuery"><span class="glyphicon glyphicon-zoom-in"></span>查询</button>&nbsp;&nbsp;
                            <button class="btn btn-primary" id="btnAdd"><span class="glyphicon glyphicon-zoom-in"></span>新增</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<table class="table table-bordered table-hover">-->
            <table class="table table-striped table-bordered table-hover" data-height="700"  data-toggle="table" data-page-size="3">

            <thead>
                <tr>
                    <th>序号</th>
                    <th>员工编号</th>
                    <th>姓名</th>
                    <th>主管</th>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>入职时间</th>
                    <th>工资</th>
                    <th>奖金</th>
                    <th>员工照片</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emp,stat:${pageInfo.list}" th:class="${emp.job == 'MANAGER' || emp.job == 'PRESIDENT'}?'highlight':''">
                    <td>[[${stat.index} + 1]]</td>
                    <td>[[${emp.empno}]]</td>
                    <td>[[${#strings.toLowerCase(emp.ename)}]]</td>
                    <td>[[${#strings.toLowerCase(emp.mgr)}]]</td>
                    <td th:switch="${emp.dname}">
                        <span th:case="RESEARCH">研发部</span>
                        <span th:case="SALES">销售部</span>
                        <span th:case="ACCOUNT">会计部</span>
                        <span th:case="*">其他部门</span>
                    </td>
                    <td>[[${emp.job}]]</td>
                    <td>[[${#dates.format(emp.hiredate, 'yyyy年MM月dd日')}]]</td>
                    <td th:style="${emp.sal > 1500}?'color:red;font-weight:bold'">[[${#numbers.formatCurrency(emp.sal)}]]</td>
                    <td th:text="${emp.comm!=null}?${#numbers.formatCurrency(emp.comm)}:'N/A'"></td>
                    <td style="...">
                        <!--<button class="btn btn-xs btn-info"></span>详细</button>-->
                        <!--<button class="btn btn-xs btn-warning"></span>删除</button>-->
                        <button class="btn btn-xs btn-info btnViewPhoto">查看照片</button>
                        <img th:src="@{${emp.photoFile}}" class="photo" style="display:none">
                    </td>
                    <td style="...">
                        <button class="btn btn-xs btn-info btnEdit" target="_blank" th:onClick="|editurl(${emp.empno})|">编辑</button> &nbsp;&nbsp;
                        <button class="btn btn-xs btn-warning btnDelete" target="_blank" th:onClick="|delcfm(${emp.empno})|">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<div id="page" style="float: right;"></div>-->

            </div>
        <div>
            <nav>
                <ul class="pagination">
                    <li>
                        <a th:href="@{/allUsers(pageNum=1,keyword=${keyword})}">首页</a></td>
                        <a th:if="${not isFirstPage}" th:href="@{${'allUsers'}(pageNum=${pageNum-1},pageSize=${pageSize},keyword=${keyword})}" aria-label="Previous">
                            <span aria-hidden="true">前一页</span>
                        </a>
                        <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                            <span aria-hidden="true">前一页</span>
                        </a>
                    </li>

                    <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                            <span th:text="${pageNo}"></span>
                        </a>

                        <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'allUsers'}(pageNum=${pageNo},pageSize=${pageSize},keyword=${keyword})}">
                            <span th:text="${pageNo}"></span>
                        </a>
                    </li>

                    <li>
                        <a th:if="${not isLastPage}" th:href="@{${'allUsers'}(pageNum=${pageNum+1},pageSize=${pageSize},keyword=${keyword})}" aria-label="Next">
                            <span aria-hidden="true">后一页</span>
                        </a>
                        <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                            <span aria-hidden="true">后一页</span>
                        </a>
                        <a th:href="@{/allUsers(pageNum=${totalPages},keyword=${keyword})}">尾页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--<div id="page" >-->


    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=80&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg&rsv_page=-1" class="n">&lt;上一页</a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=40&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">5</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=50&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">6</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=60&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">7</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=70&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">8</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=80&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">9</span></a>-->
    <!--<strong><span class="fk fk_cur"><i class="c-icon c-icon-bear-p"></i></span><span class="pc">10</span></strong>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=100&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">11</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=110&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">12</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=120&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">13</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=130&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg"><span class="fk fkd"><i class="c-icon c-icon-bear-pn"></i></span><span class="pc">14</span></a>-->
    <!--<a href="/s?wd=spring%20boot%20resteasy&pn=100&oq=spring%20boot%20resteasy&ie=utf-8&f=1&rsv_idx=1&rsv_pq=97fdc20600004f41&rsv_t=afda1Jn%2BCj1pltjnER6bfxRpen2lCns%2BcJ%2B8ES7VLy0PMao%2BunFFyWOalZg&rsv_page=1" class="n">下一页&gt;</a>-->


<!--</div>-->


<div class="modal fade" tabindex="-1" role="dialog" id="dlgForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form action="/create" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="empno">员工编号</label>
                        <input type="text" name="empno" class="form-control" id="empno" placeholder="请输入员工编号">
                    </div>
                    <div class="form-group">
                        <label for="ename">员工姓名</label>
                        <input type="text" name="ename" class="form-control" id="ename" placeholder="请输入员工姓名">
                    </div>
                    <div class="form-group">
                        <label for="mgr">主管姓名</label>
                        <input type="text" name="mgr" class="form-control" id="mgr" placeholder="请输入主管姓名">
                    </div>
                    <div class="form-group">
                        <label>部门</label>
                        <select id="dname" name="dname" class="form-control">
                            <option>请选择</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>部门ID</label>
                        <input type="text" name="deptno" class="form-control" id="deptno" placeholder="请输入部门ID">
                    </div>
                    <div class="form-group">
                        <label>岗位</label>
                        <select id="job" name="job" class="form-control">
                            <option>请选择</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hiredate">入职时间</label>
                        <input type="text" name="hiredate" readonly class="form-control" id="hiredate" placeholder="请选择入职时间">
                    </div>
                    <div class="form-group">
                        <label for="sal">工资</label>
                        <input type="text" name="sal" class="form-control" id="sal" placeholder="请输入工资">
                    </div>
                    <div class="form-group">
                        <label for="comm">奖金</label>
                        <input type="text" name="comm" class="form-control" id="comm" placeholder="请输入奖金">
                    </div>
                    <div class="form-group">
                        <label for="photo">员工照片</label>
                        <input type="file" id="photo" name="photo">
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content-->
    </div><!-- /.modal-dialog-->
</div><!-- /.modal-->


<div class="modal fade" tabindex="-1" role="dialog" id="dlgPhoto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
            </div>
            <h4 class="modal-title">照片</h4>
            <div class="modal-body">
                <img class="preview" src="">
            </div>
        </div><!-- /.modal-content-->
    </div><!-- /.modal-dialog-->
</div><!-- /.modal-->

<!-- 信息删除确认 -->
<div class="modal fade" id="delcfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
                <p>您确认要删除吗？</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a  onclick="urlSubmit()" class="btn btn-success" data-dismiss="modal">确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    document.getElementById("btnQuery").onclick = function (ev) {
            var url = "/allUsers?keyword=" + document.getElementById("txtKeyword").value;
            window.location.href=url;
        }
</script>
<script>
    function editurl(empno) {
        $('#dlgForm').modal();
        $.get("/emp/find?empno=" + empno, function (json) {
            $("#empno").val(json.empno);
            $("#ename").val(json.ename);
            $("#mgr").val(json.mgr);
            $("#sal").val(json.sal);
            $("#comm").val(json.comm);
            $("#hiredate").val(json.hiredate);
            $("#comm").val(json.comm);
            $("#deptno").val(json.deptno);
            $.ajax({
                url: "/dept",
                type: "get",
                dataType: "json",
                success: function (data) {

                    $("#dname").get(0).length = 0;
                    for (var i = 0; i < data.length; i++) {
                        $("#dname").get(0).options.add(new Option(data[i].dname));
                    }

                    console.log(json.dname);
                    var dname = json.dname;
                    if(dname=='SALES') {
                        $("#dname option:contains('SALES')").attr("selected", true);
                    }else if(dname=='ACCOUNT') {
                        $("#dname option:contains('ACCOUNT')").attr("selected", true);
                    }else if(dname=='RESEARCH') {
                        $("#dname option:contains('RESEARCH')").attr("selected", true);
                    }

                }
            });
        });
    }

    function delcfm(url) {
        $('#url').val(url);//给会话中的隐藏属性URL赋值
        $('#delcfmModel').modal();
    }
    function urlSubmit(){
        var url=$.trim($("#url").val());//获取会话中的隐藏属性URL
        // console.log(url);
        $.get("/emp/delete?empno=" + url, function (data) {
            // console.log("delete success");
            window.location.reload();
        });
    }
</script>
<script>
    $(function () {
        $('#hiredate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });

        $("#btnAdd").click(function () {
            $('#dlgForm').modal();
            $.ajax({
                url: "/dept",
                type: "get",
                dataType: "json",
                success: function (json) {
                    // console.log(json);
                    $("#dname").get(0).length = 0;
                    for (var i = 0; i < json.length; i++) {
                        $("#dname").get(0).options.add(new Option(json[i].dname));
                    }
                }
            });
        });
        // $(".btnEdit").click(function () {
        //     $('#dlgForm').modal();
        //
        //     $.ajax({
        //         url: "/dept",
        //         type: "get",
        //         dataType: "json",
        //         success: function (json) {
        //             console.log(json);
        //             $("#dname").get(0).length = 0;
        //             for (var i = 0; i < json.length; i++) {
        //                 $("#dname").get(0).options.add(new Option(json[i].dname));
        //             }
        //         }
        //     });
        // });
        $("#dname").change(function () {
            var dept = $(this).val();
            $.ajax({
                url: "/job?d=" + dept,
                type: "get",
                // data: {"dname": dname},
                dataType: "json",
                success: function (json) {
                    $("#job").get(0).length = 0;
                    for (var i = 0; i < json.length; i++) {
                        $("#job").get(0).options.add(new Option(json[i]));
                    }
                }
            });
            $.ajax({
                url: "/deptfind?d=" + dept,
                type: "get",
                // data: {"dname": dname},
                dataType: "json",
                success: function (json) {
                    // console.log(json.deptno)
                    $("#deptno").val(json.deptno);
                }
            });
        });
        $(".btnViewPhoto").click(function () {
            var img =$(this).siblings(".photo");
            // console.log(img);
            $(".preview").attr("src" , img.attr("src")) ;
            $("#dlgPhoto").modal();
        });

    })
</script>
<script>
    $(function() {
        var options;
        options = {
            bootstrapMajorVersion: 1, //版本
            currentPage: ${page.pageNum}, //当前页数
            numberOfPages: 5, //最多显示Page页
            totalPages: ${page.pages}, //所有数据可以显示的页数
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return "<span class='glyphicon glyphicon-fast-backward' aria-hidden='true'></span>";
                    case "prev":
                        return "<span class='glyphicon glyphicon-backward' aria-hidden='true'></span>";
                    case "next":
                        return "<span class='glyphicon glyphicon-forward' aria-hidden='true'></span>";
                    case "last":
                        return "<span class='glyphicon glyphicon-fast-forward' aria-hidden='true'></span>";
                    case "page":
                        return page;
                }
            },
            onPageClicked: function (e, originalEvent, type, page) {
                location.href = "/all?pageNum=" + page;
            }
        };
        $("#page").bootstrapPaginator(options);
    });

</script>
</body>
</html>